{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>📞 Contact Us</h1>

    <div class="product-card">

        <h3>NexaMart Support</h3>

        <p><strong>Email:</strong> support@nexamart.com</p>

        <p><strong>Phone:</strong> +91 87784 78784</p>

        <p><strong>Working Hours:</strong> Mon - Sat (9:00 AM - 8:00 PM)</p>

        <p>
            Need help with your order or account?
            We're happy to assist you.
        </p>

    </div>

</div>

{% endblock %}